@import "colors";

canvas {
  margin-bottom: 20px;
  cursor: crosshair;
  border: 2px solid black;
}

.color {
  width: 34px;
  height: 34px;

  &.selected {
    box-shadow: inset 0 0 0 2px black,
                inset 0 0 0 3px white;
  }
}

#app-container {
  margin-top: 20px;
}
